---
layout: main
subtitle: Oferte Implant dentar
title: Implant dentar ieftin Bucuresti 250 euro Dr. Irina Alexandru. Oferta implant dentar la un pret accesibil in cabinetul stomatologic IQdent.
description: Pret implant dentar Alpha Bio/Biotec redus cu 40% la 250 euro. Oferta implant dentar de calitate la un pret accesibil oferit de Dr. Irina Alexandru in cabinetul stomatologic IQdent zona Nerva Traian.

contact: one
---

{% include section-discount.html %}

{% include section-about.html %}

{% include section-message.html %}

{% include section-contact.html %}



