<table id="pricesTable">
   <tbody>
       <tr><th>CLINICA</th><th>PRET IMPLANT</th></tr>
       <tr><td><a href="http://www.dentestet.ro/lista-de-preturi/" target="_blank">Dent Estet</a></td><td>4000 ron</td></tr>   
       <tr><td><a href="http://dentalcrownhealth.ro/preturi/" target="_blank">Dental Crown Health</a></td><td>600 euro</td></tr>   
       <tr><td><a href="http://www.implantodent.ro/preturi/implantologie" target="_blank">Implantodent </a></td><td>1000 euro</td></tr>   
       <tr><td><a href="http://www.greendental.ro/preturi/lista-de-preturi" target="_blank">Green Dental</a></td><td>3375 ron</td></tr>   
       <tr><td><a href="http://www.dentesse.ro/tarife/" target="_blank">Dentesse</a></td><td>2100 ron</td></tr>   
       <tr><td><a href="http://premiumdental.ro/implant-dentar/" target="_blank">Premium Dental</a></td><td>550-650 euro</td></tr>   
       <tr><td><a href="http://www.cris-smile.ro/oferte-speciale/implant-dentar-bredent-550-euro-3" target="_blank">Cris Smile</a></td><td>550 euro</td></tr>   
       <tr><td><a href="http://smile-experts.ro/lista-de-preturi/" target="_blank">Smile Experts</a></td><td>550-650 euro</td></tr>   
       <tr><td><a href="http://www.clinica-dentalpraxis.ro/tarife-si-abonamente" target="_blank">Dental Praxis</a></td><td>2099 ron</td></tr>   

   </tbody>
</table>