<table id="pricesTable">
   <tbody>
       <tr><th>CLINICA STOMATOLOGICA</th><th>PRET IMPLANT DENTAR</th></tr>
       <tr><td><a href="http://www.dentestet.ro/tratament/implant-dentar/implantul-dentar-alpha-bio/" target="_blank">Dent Estet</a></td><td>2700 ron</td></tr>   
       <tr><td><a href="http://dentalcrownhealth.ro/preturi/" target="_blank">Dental Crown Health</a></td><td>350 euro</td></tr>   
       <tr><td><a href="http://mikodental.ro/servicii-stomatologie-preturi/implantologie-dentara-bucuresti/" target="_blank">Miko Dental</a></td><td>400 euro</td></tr>   
       <tr><td><a href="https://draristide.ro/implant-dentar-perfect/" target="_blank">Dr Aristidel</a></td><td>1800 ron</td></tr>   
       <tr><td><a href="http://www.dentesse.ro/tarife/" target="_blank">Dentesse</a></td><td>1550 ron</td></tr>   
       <tr><td><a href="http://premiumdental.ro/implant-dentar/" target="_blank">Premium Dental</a></td><td>400 euro</td></tr>   
       <tr><td><a href="http://www.cris-smile.com/implantologie/implant-dentar-81/" target="_blank">Cris Smile</a></td><td>390 euro</td></tr>   
       <tr><td><a href="http://www.clinica32.ro/implant-dentar-alpha-bio/" target="_blank">Clinica 32</a></td><td>1600 ron</td></tr>   
   </tbody>
</table>