<table id="pricesTable">
   <tbody>
       <tr><th>TIPUL INTERVENȚIEI</th><th>PREȚ</th></tr>
       <tr><td>Consultație specialitate <br/> interpretare investigații / plan de tratament / deviz estimativ</td><td>100-150 lei</td></tr>

       <tr><th>IMPLANTOLOGIE</th><th></th></tr>
       <tr><td>Implant dentar Biotec (Israel)</td><td><span> 1250 lei</span></td></tr>
       <tr><td>Implant dentar AlphaBio (Israel)</td><td><span> 1600 lei</span></td></tr>
       <tr><td>Implant dentar Bredent (Germania)</td><td><span> 2600 lei</span></td></tr>
       <tr><td>Implant dentar Megagen (Coreea de Sud)</td><td><span> 2600 lei</span></td></tr>
       <tr><td>Bont protetic</td><td><span>350 lei</span></td></tr>
       <tr><td>Bont protetic personalizat</td><td><span>500 lei</span></td></tr>
       <tr><td>Surub fixare implant</td><td><span>100 lei</span></td></tr>

       <tr><td>Descoperire implant</td><td><span>300 lei</span></td></tr>
       <tr><td>Descoperire implant cu remodelare gingivala</td><td><span>400 lei</span></td></tr>
       <tr><td>Indepartare implant</td><td><span>500 - 700 lei</span></td></tr>

       <tr><td><b>*</b></td><td></td></tr>

       <tr><td>Sinus lifting <br/>osul (xenogrefa) sau membrana colagen se achita separat</td><td>3000 lei</td></tr>
       <tr><td>Membrană colagen</td><td>1000 lei</td></tr>
       <tr><td>Membrană APRF/IPRF</td><td>300 lei</td></tr>
       <tr><td>Aditie de os (xenogrefa)</td><td>1100 lei / flacon</td></tr>
       <tr><td><b>*</b></td><td></td></tr>
       <tr><td>Pachet All On Four<br/>4 implanturi<br/>lucrare provizorie fixa in 24h<br/>lucrare definitiva</td><td>de la 4200 euro</td></tr>
       <tr><td>Pachet All On Six<br/>6 implanturi<br/>lucrare provizorie fixa in 24h<br/>lucrare definitiva</td><td>de la 4600 euro</td></tr>
       <tr><td><b>*</b></td><td></td></tr>
       <tr><td>Igienizare si rebazare lucrare totala implant</td><td>550 lei / arcada</td></tr>
       <tr><td>Control periodic lucrare totala implant</td><td>250 lei / arcada</td></tr>

      
       <tr><td>Pachet proteză mobila 2 implanturi pe capse<br/>2 implanturi Alpha Bio<br/>proteza acrilica</td><td>2000 euro</td></tr>
       <tr><td>Pachet proteză mobila 4 implanturi pe capse<br/>4 implanturi Alpha Bio<<br/>proteza acrilica</td><td>2400 euro</td></tr>
      
       <tr><th>ORTODONTIE</th><th></th></tr>
       <tr><td>Aparat gutiere SPARK 10 (doua arcade)</td><td><span>9000 lei</span></td></tr>
       <tr><td>Aparat gutiere SPARK 20 (doua arcade)</td><td><span>12000 lei</span></td></tr>
       <tr><td>Aparat gutiere SPARK Advance (doua arcade)</td><td><span>18000 lei</span></td></tr>

       <tr><td>Aparat fix metalic / arcadă</td><td><span> 2300 lei</span></td></tr>
       <tr><td>Aparat fix ceramic / arcadă</td><td><span> 2800 lei</span></td></tr>
       <tr><td>Aparat fix safir / arcadă</td><td><span> 3300 lei</span></td></tr>
       <tr><td>Aparat autoligaturant</td><td><span> 3500 lei</span></td></tr>

       <tr><td>Aparat mobil / arcadă</td><td><span> 1200 lei</span></td></tr>
       <tr><td>Trainer/Aparat miofunctional</td><td>1000 lei</td></tr>       
       <tr><td>Disjunctor</td><td>1800 - 2000 lei</td></tr>
       <tr><td>Dispozitiv Nance</td><td>700 lei</td></tr>
       <tr><td>Arc transpalatinal </td><td>700 lei</td></tr>
       <tr><td>Miniimplant ortodontic</td><td>700 lei</td></tr>
       <tr><td>Indepartare aparat + contentie + gutiera contentie</td><td>900 lei</td></tr>

      
       <tr><td><b>*</b></td><td></td></tr>
       <tr><td>Control aparat fix / arcadă</td><td>100 lei</td></tr>
       <tr><td>Contentie / arcada </td><td>400 lei</td></tr>
       <tr><td>Gutiera contentie / arcada </td><td>380 lei</td></tr>

       <tr><td>Inlocuire bracket safir</td><td>100 lei</td></tr>
       <tr><td>Inlocuire bracket metalic</td><td>75 lei</td></tr>
       <tr><td>Inlocuire tubusor</td><td>75 lei</td></tr>
       <tr><td>Inlocuire arc estetic</td><td>100 lei</td></tr>

      
       <tr><th>TRATAMENTUL CARIEI DENTARE</th><th></th></tr>
       <tr><td>Obturație foto pe dinți frontali</td><td>400-500 lei</td></tr>
       <tr><td>Obturație foto pe dinți laterali</td><td>400-500 lei</td></tr>
       
       <tr><th>TRATAMENT ENDODONTIC</th><th></th></tr>
       <tr><td>Tratament de canal dinte monoradicular</td><td>500 lei</td></tr>
       <tr><td>Tratament de canal dinte pluriradicular</td><td>650 lei</td></tr>
       <tr><td>Tratamentul gangrenei pulpare dinte monoradicular (primă sedință)</td><td>250 lei</td></tr>
       <tr><td>Tratamentul gangrenei pulpare dinte pluriradicular (primă sedință)</td><td>350 lei</td></tr>
       <tr><td>Tratamentul gangrenei pulpare dinte monoradicular (sedință intermediară)</td><td>250 lei</td></tr>
       <tr><td>Obturație de canal</td><td>400 lei</td></tr>
       <tr><td>Re-tratament de canal dinte monoradicular</td><td>650 lei</td></tr>
       <tr><td>Re-tratament de canal dinte pluriradicular</td><td>800 lei</td></tr>
       <tr><td>Indepărtare pivot (metalic / sticlă)</td><td>250 lei</td></tr>
       <tr><td>Drenaj endodontic/tratament urgentă</td><td>250 lei</td></tr>
       <tr><td>Restaurare bont/refacere pereti</td><td>250 lei</td></tr>

       <tr><th>CHIRURGIE</th><th></th></tr>
       <tr><td>Extracție dinți monoradiculari</td><td>200 lei</td></tr>
       <tr><td>Extracție dinti pluriradiculari</td><td>300 lei</td></tr>
       <tr><td>Extracție molari de minte</td><td>300-500 lei</td></tr>
       <tr><td>Extracție molari incluși/semi-incluși</td><td>800-1000 lei</td></tr>
       <tr><td>Rezecție apicală</td><td>800-1000 lei/dinte</td></tr>
       <tr><td>Chistectomie</td><td>1200-1400 lei</td></tr>
       <tr><td>Inchidere comunicare oro-sinusala</td><td>700-1000 lei</td></tr>
       <tr><td>Extirpare tumorete/biopsii</td><td>700-1000 lei</td></tr>
       <tr><td>Incizie si drenaj abces</td><td>300 lei</td></tr>
       
       <tr><th>PARODONTOLOGIE</th><th></th></tr>
       <tr><td>Imobilizarea dinților cu compozit + fibră de sticlă</td><td>75 lei/dinte</td></tr>
       <tr><td>Chiuretaj subgingival câmp inchis</td><td>75 lei/dinte</td></tr>
       <tr><td>Chiuretaj subgingival câmp deschis</td><td>100 lei/dinte</td></tr>
       <tr><td>Echilibrare ocluzală</td><td>400 lei/sedinta</td></tr>
       <tr><td>Tratament IPRF</td><td>600 lei/arcada</td></tr>
       
       <tr><th>PROFILAXIE</th><th></th></tr>
       <tr><td>Detartraj cu ultrasunete + periaj profesional + Airflow</td><td>300 lei</td></tr>
       <tr><td>Airflow</td><td>150 lei</td></tr>
       <tr><td>Periaj profesional</td><td>150 lei</td></tr>
       <tr><td>Flourizare</td><td>150 lei</td></tr>

       <tr><td>Gutieră bruxism sau albire/arcadă</td><td>350 lei</td></tr>
       <tr><td>Gutieră ortodontică/arcadă</td><td>380 lei</td></tr>

       <tr><th>IMAGISTICĂ</th><th></th></tr>
       <tr><td>Scanare digitală</td><td>100 lei</td></tr>
       <tr><td>Radiografie retro-alveolară digitală</td><td>60 lei</td></tr>
      
       <tr><th>PROTETICĂ</th><th></th></tr>
       <tr><td>Coroană metalo-ceramică total fizionomică pe implant</td><td>1200 lei</td></tr>
       <tr><td>Coroană Zirconiu total fizionomică pe implant</td><td><span> 1400 lei</span></td></tr>
       <tr><td><b>*</b></td><td></td></tr>
       <tr><td>Coroană metalo-ceramică total fizionomică pe dinte</td><td>1200 lei</td></tr>
       <tr><td>Coroană Zirconiu total fizionomică pe dinte</td><td><span> 1400 lei</span></td></tr>
       <tr><td>Coroană integral ceramică Emax</td><td>1500 lei</td></tr>
       <tr><td>Coroană provizorie in laborator</td><td>350 lei</td></tr>
       <tr><td>Coroană provizorie in cabinet</td><td>170 lei</td></tr>
       <tr><td>Incrustatie ceramică</td><td>800 lei</td></tr>

       <tr><td><b>*</b></td><td></td></tr>
       <tr><td>Fațete dentare</td><td>1500 lei</td></tr>
       <tr><td>Fațete compozit cabinet</td><td>700 lei</td></tr>

       <tr><td><b>*</b></td><td></td></tr>
       <tr><td>Pivot metalic</td><td>350 lei</td></tr>
       <tr><td>Pivot fibră de sticlă</td><td>350 lei</td></tr>
       <tr><td>Ablație (tăiere coroană)</td><td>70 lei</td></tr>
       <tr><td>Cimentare coroană</td><td>75 lei</td></tr>
       <tr><td><b>*</b></td><td></td></tr>
       <tr><td>Proteză acrilică</td><td>2500 lei</td></tr>
       <tr><td>Proteză material flexibil</td><td>3000 lei</td></tr>
       <tr><td>Proteză scheletată cu sisteme speciale de retenție</td><td>4000 lei</td></tr>
       <tr><td>Proteză scheletată cu crosete turnate</td><td>3500 lei</td></tr>
       
       <tr><th>TRATAMENTE COPII</th><th></th></tr>
       <tr><td>Extracție dinți temporari</td><td>200 lei</td></tr>
       <tr><td>Obturație glassionomer</td><td>200 lei</td></tr>
       <tr><td>Obturație foto</td><td>300 lei</td></tr>
       <tr><td>Sigilare</td><td>250 lei</td></tr>
       
   </tbody>
</table>
