    <section id="discount-bredent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ofertă implant dentar Bredent 400 euro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
               
                <div class="col-lg-8 col-lg-offset-2 text-center">
                
                    <img src="img/promo/implants-bredent-400.jpg" class="img-responsive" alt="implant dentar bredent">
                                
                </div>
                
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    Prețul din ofertă, redus cu 30% de la 600 euro, este valabil pana pe 30 Decembrie 2015.
                </div>
                
            </div>    
        </div>
        <div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>
                Implant dentar premium fabricat in Germania.
            Suprafaţa obţinută prin sablare şi tratament acid la temperatură înaltă arată gradul ridicat al tehnologiei de ultimă oră în domeniu al noului sistem de implant dentar, asigurând pe termen lung succesul integrării în osul nativ sau artificial. Datorită acestui design modern blueSKY este ideal pentru plasarea implantului la nivelul osului, dar şi pe creste augmentate, totodată oferă şi precondiţia unei aderări osoase ridicate după implantare. Mulţumită metodei inovative de tratament a suprafeței implantului dentar, dar şi a structurii speciale a filetului, stabilitatea primară a acestuia creşte considerabil. Mai multe detalii pe site-ul <a href="http://www.bredent-medical.ro/bluesky-implant-dentar.html" target="_blank">Bredent Medical </a>.
                </p>
            </div>
        </div>
    </section>
