    <section id="discount" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>De ce acest preț?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Sunt medic dentist cu experiență de peste 15 ani (dintre care 2 ani în Marea Britanie). Am observat beneficiile implanturilor dentare asupra calității vieții pacienților, dar și faptul ca prețurile mari restricționează accesul la acest tratament. În ultimii ani am început să promovez implanturi dentare de calitate la un preț care să le facă accesibile unui număr cât mai mare de pacienți. Câteva dintre mărturiile acestora le puteți citi <a href="/parerile-pacientilor.html">aici</a>.  
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>Prețul implanturilor dentare din ofertă se datorează reducerii costului manoperei, folosind implanturi de calitate (Alpha-Bio sau Bredent). Aceste implanturi sunt folosite în majoritatea cabinetelor din București, la un preț de multe ori dublu. Planul de tratament este personalizat pentru fiecare pacient, intervențiile sunt gândite să fie nedureroarese, iar lucrările beneficiază de garanție.  
                    </p>
                </div>
                
            </div>    
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>
                    Programări la telefon <a href="tel:{{site.contact.one.tel}}"><i class="fa fa-fw fa-phone"></i></a>, pe facebook <a href="{{site.contact.one.fb}}"><i class="fa fa-fw fa-facebook"></i></a> sau pe email <a href="mailto:{{site.contact.one.email}}"><i class="fa fa-fw fa-envelope"></i></a>. 
                </p>
                </div>

             
            </div>
        </div>
    </section>
