    <section id="discount" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>De ce implant ieftin?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Sunt medic dentist cu experiență de 10 ani (dintre care 2 ani în Marea Britanie). În tot acest timp am observat beneficiile implanturilor dentare asupra calității vieții pacienților. În urmă cu 2 ani am început să promovez un preț care să facă mai accesibil acest tratament unui număr cât mai mare de pacienți. În acest timp au beneficiat de ofertă peste 200 de pacienți. Oferta este valabilă pe termen nedefinit dar deoarece se poate întâmpla să nu existe nici un loc pentru câteva săptămâni la rând este bine să mă contactați în avans. 
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>Implantul dentar din ofertă este ieftin datorită reducerii costului manoperei fiindcă în realitate aceleași implanturi (Alpha-Bio sau Biotec) sunt folosite în majoritatea cabinetelor din București la un preț de multe ori dublu. Planul de tratament este personalizat pentru fiecare pacient, intervențiile sunt gândite să fie nedureroarese și sunt realizate sub anestezie, iar lucrările beneficiază de garanție.  Pentru mai multe detalii sau programări mă puteți contacta la telefon <a href="tel:{{site.contact.one.tel}}"><i class="fa fa-fw fa-phone"></i></a>, pe facebook <a href="{{site.contact.one.fb}}"><i class="fa fa-fw fa-facebook"></i></a> sau pe email <a href="mailto:{{site.contact.one.email}}"><i class="fa fa-fw fa-envelope"></i></a> sau îmi puteți scrie un mesaj mai jos. 
                    </p>
                </div>
                
            </div>    
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>
                     
                </p>
                </div>

             
            </div>
        </div>
    </section>