
     <!-- About Section -->
    <section id="message">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mesaje și întrebări</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Îmi puteți lăsa un mesaj sau o întrebare:</p>
                                        
                   <div class="fb-comments" data-href="http://www.iqdent.ro/irina-mesaje.html" data-numposts="2" data-colorscheme="light"></div>   

                </div>
               
               
            </div>
        </div>
    </section>