    <section id="discount">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Implant dentar preț 300 euro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
               
                <div class="col-lg-8 col-lg-offset-2 text-center">
                
                    <img src="img/promo/implant-dentar-pret-300.jpg" class="img-responsive" alt="implant dentar pret 300 euro">
                                
                </div>
                
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                     <p class="big">
                        <br/>
                         <strong>Atentie!</strong>
Când alegeți un implant dentar cereți informații despre tipul acestuia și despre costurile adiționale. Mai multe detalii găsiți și pe pagina <a href="/extra-reducere-alphabio.html#post">reducerii</a>.          
                     </p>    
                     <p class="small">    
                         Bonturile clasice sunt incluse in pretul implantului. La pretul implantului se mai adauga pretul coronitei de 150 de euro.  Astfel, pretul aproximativ pentru un dinte este de 450 de euro. Totusi, un deviz corect se va putea doar in urma unei consultatii si a unui plan de tratament.
                         <br/>
                         <strong>Prețul din ofertă, redus cu 40%, este valabil până pe {{site.offer.expirydate}}. </strong><br/>
                    </p>
                </div>
                
                
            </div>    
        </div>
    </section>
