    <section id="discount">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ofertă implant dentar Sky Bredent 400 euro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
               
                <div class="col-lg-8 col-lg-offset-2 text-center">
                
                    <img src="img/promo/implants-bredent-400.gif" class="img-responsive" alt="implant dentar bredent">
                                
                </div>
                
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    Prețul din ofertă, redus cu 30% de la 600 euro, este valabil pana pe 30 Decembrie 2015.
                </div>
                
            </div>    
        </div>
    </section>
