
     <!-- About Section -->
    <section id="message">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mesaje și întrebări</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Îmi puteți lăsa un mesaj sau o întrebare:</p>
                                        
                
                    
                    <fb:comments reverse="false" publish_feed="false" showform="true" 
    simple="false" migrated="1" canpost="false" url="http://www.iqdent.ro/irina-mesaje.html" 
    width="580px" numposts="10">
</fb:comments>


                </div>
               
                
               
            </div>
        </div>
    </section>