    <section id="discount">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ofertă implant dentar preț 250 euro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
               
                <div class="col-lg-8 col-lg-offset-2 text-center">
                
                    <img src="img/promo/implants-250.jpg" class="img-responsive" alt="implant dentar ieftin 250 euro">
                                
                </div>
                
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    Prețul din ofertă, redus cu 40%, este valabil pana pe 30 Decembrie 2015.
                </div>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>

                    Implantul Alpha-Bio (site oficial <a href="http://www.alpha-bio.net/" target="_blank">aici</a>) beneficiază de capacități excepționale de autoinfiletare si autotarodare. Acesta are un designul unic care ii confera o stabilitate primară ridicată, chiar si in cazurile clinice dificile, precum si posibilitatea de a schimba axul de inserție al implantului. 
                    </p>
                </div>
                
            </div>    
        </div>
    </section>