
     <!-- About Section -->
    <section id="message">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="background: white; z-index: 1">
                    <h2>Mesaje și întrebări</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
 <div class="fb-comments" data-href="http://www.oferteimplantdentar.ro/mesaje.html" data-numposts="200" data-colorscheme="light" data-order-by="reverse_time"></div>                 </div>
               
                
               
            </div>
        </div>
    </section>
