
     <!-- About Section -->
    <section id="message">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mesaje și întrebări</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">

                   <p>Îmi puteți lăsa un mesaj sau o întrebare aici sau direct pe pagina de <a href="https://www.facebook.com/dririnaalexandru">Facebook</a></p>
                              
                   <div class="fb-page" data-href="https://www.facebook.com/dririnaalexandru" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/dririnaalexandru"><a href="https://www.facebook.com/dririnaalexandru">Dr Irina Alexandru</a></blockquote></div></div>
                      
                </div>
                
                <div class="col-lg-12 text-center">
                   <div class="fb-comments" data-href="http://www.oferteimplantdentar.ro/mesaje.html" data-numposts="3" data-colorscheme="light" data-order-by="reverse_time"></div>   
                </div>
        
            </div>
             <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% include blog.html %}
                </div>
            </div>
        </div>
    </section>
