    <section id="discount">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Implant dentar preț 250 euro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
               
                <div class="col-lg-8 col-lg-offset-2 text-center">
                
                    <img src="img/promo/implants-250.jpg" class="img-responsive" alt="implant dentar ieftin 250 euro">
                                
                </div>
                
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                     <p class="big">
                        <br/>
                        <strong>Atenție! Nu analizați doar prețul implantului dentar.</strong>
                        <br/>
                        Asigurați-vă că medicul dumneavoastră folosește implanturi originale de calitate.
                        <br/>
                        Citiți mai mult despre  <a href="/extra-reducere-alphabio.html">implanturile Alpha Bio</a> folosite în această ofertă.            
                     </p>    
                     <p class="small">              
                         Prețul din ofertă, redus cu 40%, este valabil până pe {{site.offer.expirydate}}. 
                    </p>
                </div>
                
                
            </div>    
        </div>
    </section>
