    <section id="discount-bredent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ofertă implant dentar Bredent 400 euro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
               
                <div class="col-lg-8 col-lg-offset-2 text-center">
                
                    <img src="img/promo/implants-bredent-400.jpg" class="img-responsive" alt="implant dentar bredent">
                                
                </div>
                
               
                
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="small">
                        Prețul din ofertă, redus cu 30% de la 600 euro, este valabil pana pe {{site.offer.expirydate}}.
                    </p>
                    <p>
                    Implantul dentar <a href="http://www.bredent-medical.ro/bluesky-implant-dentar.html" target="_blank">Bredent</a> este un implant dentar premium fabricat in Germania. Suprafaţa obţinută prin sablare şi tratament acid la temperatură înaltă arată gradul ridicat al tehnologiei de ultimă oră în domeniu al noului sistem de implant dentar, asigurând pe termen lung succesul integrării în osul nativ sau artificial. Datorită acestui design modern blueSKY este ideal pentru plasarea implantului la nivelul osului, dar şi pe creste augmentate, totodată oferă şi precondiţia unei aderări osoase ridicate după implantare. Mulţumită metodei inovative de tratament a suprafeței implantului dentar, dar şi a structurii speciale a filetului, stabilitatea primară a acestuia creşte considerabil. 
                    </p>
                    <p>
                    Oferta include bonturile iar la preţul de 400 euro se mai adaugă 150 euro pentru lucrarea protetică (coroniţa), astfel preţul total pentru un dinte este de 550 euro. Puteţi compara aceasta ofertă cu <a href="/info/preturi-implanturi-dentare-bredent.html">preţurile implanturilor Bredent</a> practicate in alte cabinete din Bucureşti. Pentru un preţ mai accesibil puteţi opta pentru <a href="/promotie-alphabio.html">oferta implant dentar Alpha Bio</a> la 250 euro (400 cu tot cu coroană).
                    </p>
                </div>
            
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">

                   <p>Îmi puteți lăsa un mesaj sau o întrebare aici sau direct pe pagina de <a href="https://www.facebook.com/dririnaalexandru">Facebook</a></p>
                              
                   <div class="fb-page" data-href="https://www.facebook.com/dririnaalexandru" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/dririnaalexandru"><a href="https://www.facebook.com/dririnaalexandru">Dr Irina Alexandru</a></blockquote></div></div>
                      
                </div>
                
                  
                <div class="col-lg-12 text-center">
                   <div class="fb-comments" data-href="{{site.url}}{{page.url}}" data-numposts="2" data-colorscheme="light"></div>   
                </div>
        
            </div>
            
        </div>
        
    </section>
