    <section id="discount">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Implant dentar preț 250 euro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
               
                <div class="col-lg-8 col-lg-offset-2 text-center">
                
                    <img src="img/promo/implants-250.jpg" class="img-responsive" alt="implant dentar ieftin 250 euro">
                                
                </div>
                
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                     <p class="small">
                        Implanturile folosite in aceasta oferta sunt <a href="/info/ce-fel-de-implanturi-dentare-folosim.html">Alpha-Bio</a>.
                     </p>    
                     <p class="small">              
                         Prețul din ofertă, redus cu 40%, este valabil până pe {{site.offer.expirydate}}. 
                         <br/> 
                         Prețul de 240 de euro este valabil doar impreună cu voucherul de pe pagina <a href="/extra-reducere-alphabio.html">extra reducerii</a>.
                    </p>
                </div>
                
                
            </div>    
        </div>
    </section>
