<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% if page.description %}
    <meta name="description" content="Implant dentar ieftin Bucuresti. {{page.description}}" />
    {% else %}
    <meta name="description" content="Implant dentar ieftin Bucuresti - Ne gasiti in zona Nerva Traian - Octavian Goga, Bucuresti. Oferta implant dentar 250 euro." />
    {% endif %}

    <meta name="keywords" content="cabinet stomatologic, dentist, implant, zirconiu, nerva traian, unirii, octavian goga, sector 3, bucuresti" />
    {% if page.noindex %}
<meta name="robots" content="NOINDEX,NOFOLLOW" />
    {% else %}
<meta name="robots" content="INDEX,FOLLOW" />
    {% endif %}


<meta property="fb:admins" content="100007375457037" />
<meta property="fb:app_id" content="1646122675603637" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    
    {% if page.title %}
        <title>{{page.title}}</title>
    {% else %}
        <title>{{site.name}} - Cabinet Stomatologic</title>
    {% endif %}
    
    <!-- Custom CSS -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    
    {{ content }}

    
    {% include footer.html %}

    
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <div id="callnow">
        <div>
            <a href="tel: {{site.contact.office.tel}}"><i class="fa fa-fw fa-phone"></i>Sună acum</a>
        </div>
    </div>

    <div id="fb-root"></div>

    <script src="//maps.googleapis.com/maps/api/js?key={{site.map.key}}"></script>

    <script src="/js/main.js"></script>

    
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name" : "Oferte implant dentar. Cabinet Stomatologic INODent",
      "url": "https://www.oferteimplantdentar.ro",
      "logo": "https://www.oferteimplantdentar.ro/img/profile.png",
      "contactPoint" : { "@type" : "ContactPoint",
          "telephone" : "+40754523624",
          "contactType" : "reservations"
        },
    "sameAs" : [ "{{site.contact.office.gplus}}" ,
        "{{site.contact.office.fb}}"] 

    }
    </script>
    
<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100999372);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
</body>

</html>
