---
layout: main
---

<section id="post">
    <div class="container">
        
  
         <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>{{ page.title }}</h1>
                    <hr class="star-primary">
                </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {{ content }}
            </div>
        </div>
        
        
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mesaje și întrebări</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
 <div class="fb-comments" data-href="{{site.url}}{{page.url}}" data-numposts="5" data-colorscheme="light"></div>                 </div>
        </div>
    </div>
</section>
